DEBUG=True
SECRET_KEY=replace-me-in-production
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.postgresql
DB_NAME=unione_db
DB_USER=unione
DB_PASSWORD=241996
DB_HOST=127.0.0.1
DB_PORT=5432
